<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title>欢迎关注公众号：sendtokindles 下载电子书</title>
</head>
<body>
    Kindle 个人文档服务可以转换并发送以下类型的文档：<br>
    <br><ul>
    <li>Microsoft Word (.doc, .docx)</li>
    <li>富文本格式（.rtf）</li>
    <li>HTML (.htm, .html) </li>
    <li>文本 (.txt) </li>
    <li>归档文档（zip、x-zip）和已压缩的归档文档</li>
    <li>Mobi（不支持最新的文档功能）</li>
    <li>JPEG（.jpg）、GIFs（.gif）、Bitmap（.<wbr>bmp）和 PNG 图片（.png）</li>
    <li>PDF (.pdf)（转换为 Kindle 的固定格式）</li>
    <li>EPUB (.epub)</li>
    </ul>

    如果发送失败的文档属于上述文档类型之一，<wbr>请确保该文档没有设置密码保护或加密。<br><br>

    您可以通过我们的帮助页面了解有关将个人文档传输到 Kindle 的更多信息：<br>
    <a href="https://www.amazon.com/gp/f.html?C=3L26YGZCW930R&amp;M=urn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na&amp;R=3TVZ1501MZL5T&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.cn%2FKindledocuments%2F%3Fref_%3Dpe_1825130_138612650&amp;H=MWCHXYKGB2TNTWROXVT8OVTVKCUA&amp;ref_=pe_1825130_138612650" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.amazon.com/gp/f.html?C%3D3L26YGZCW930R%26M%3Durn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na%26R%3D3TVZ1501MZL5T%26T%3DC%26U%3Dhttp%253A%252F%252Fwww.amazon.cn%252FKindledocuments%252F%253Fref_%253Dpe_1825130_138612650%26H%3DMWCHXYKGB2TNTWROXVT8OVTVKCUA%26ref_%3Dpe_1825130_138612650&amp;source=gmail&amp;ust=1681352571366000&amp;usg=AOvVaw3WCNtyCz_KreohajZIFw9z">http://www.amazon.cn/<wbr>Kindledocuments/</a><br><br>

    如果您需要进一步帮助，请通过 4008170100(国内客户) 或 +86-22-59677408(国际客户) 联系客户支持团队。<br><br>

    致以诚挚的问候！<br>
    亚马逊 Kindle 支持团队<br><br>

    请注意：此电子邮件的发送地址仅用于发送通知，<wbr>无法接收电子邮件。请勿回复此邮件。<br><br>

    <a href="https://www.amazon.com/gp/f.html?C=3L26YGZCW930R&amp;M=urn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na&amp;R=ENSBERNI4K77&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.cn%2Fkindle%2F%3Fref_%3Dpe_1825130_138612650&amp;H=3IEU49VLBQIZBPOXFX6KPNIMVI0A&amp;ref_=pe_1825130_138612650" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.amazon.com/gp/f.html?C%3D3L26YGZCW930R%26M%3Durn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na%26R%3DENSBERNI4K77%26T%3DC%26U%3Dhttp%253A%252F%252Fwww.amazon.cn%252Fkindle%252F%253Fref_%253Dpe_1825130_138612650%26H%3D3IEU49VLBQIZBPOXFX6KPNIMVI0A%26ref_%3Dpe_1825130_138612650&amp;source=gmail&amp;ust=1681352571366000&amp;usg=AOvVaw3ou8UPe7sIRg0M3SpXLZFL">详细了解亚马逊 Kindle的更多信息</a><br>
    <a href="https://www.amazon.com/gp/f.html?C=3L26YGZCW930R&amp;M=urn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na&amp;R=2BB3H3FPZNW3M&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.cn%2Fkindlestore%2F%3Fref_%3Dpe_1825130_138612650&amp;H=G5ITX88OSVS4WFGUGNITSHFMQEQA&amp;ref_=pe_1825130_138612650" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.amazon.com/gp/f.html?C%3D3L26YGZCW930R%26M%3Durn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na%26R%3D2BB3H3FPZNW3M%26T%3DC%26U%3Dhttp%253A%252F%252Fwww.amazon.cn%252Fkindlestore%252F%253Fref_%253Dpe_1825130_138612650%26H%3DG5ITX88OSVS4WFGUGNITSHFMQEQA%26ref_%3Dpe_1825130_138612650&amp;source=gmail&amp;ust=1681352571366000&amp;usg=AOvVaw1vPgnsgkXvs6HHGZxVlgPa">查看 Kindle 商店</a><br><br>

    如果您对 Kindle 有其他疑问，请访问<a href="https://www.amazon.com/gp/f.html?C=3L26YGZCW930R&amp;M=urn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na&amp;R=3BNKQ1N3NJ5R1&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.com%2Fdevicesupport%3Fref_%3Dpe_1825130_138612650&amp;H=AVGDRAJ9FV7QT5DITUO69LAGRV8A&amp;ref_=pe_1825130_138612650" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.amazon.com/gp/f.html?C%3D3L26YGZCW930R%26M%3Durn:rtn:msg:20230407173854b7d353dae3fb42e2a453786dc580p0na%26R%3D3BNKQ1N3NJ5R1%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.com%252Fdevicesupport%253Fref_%253Dpe_1825130_138612650%26H%3DAVGDRAJ9FV7QT5DITUO69LAGRV8A%26ref_%3Dpe_1825130_138612650&amp;source=gmail&amp;ust=1681352571366000&amp;usg=AOvVaw3ZpeU4v-3hWYt4H6qhh4aC">亚马逊 Kindle 帮助页面</a><br>
    该 “帮助” 页面为您提供常见问题的回答，并提供直接联系亚马逊 Kindle 专员的链接。<br>
    如需联系亚马逊 Kindle 客服，只需在 “帮助” 页面上点击 “联系我们” 框中的按钮，即可通过电子邮件或电话获得帮助。


    </body>
</html>